# common
.DS_Store
*.log
.tmp
.idea
.vscode


Frontend/node_modules
Frontend/build
Frontend/public/build
Frontend/package-lock.json 


Backend/node_modules
Backend/.env
Backend/dist
# ts
Backend/build
Backend/.tsbuildinfo
# MongoDB 
Backend/data/*.db