# 前端和后端通用的忽略项
.DS_Store
*.log
.tmp
.idea
.vscode
.env

# 前端相关忽略项
Frontend/node_modules
Frontend/package-lock.json
Frontend/package.json
Frontend/dist
Frontend/build

# 后端相关忽略项
Backend/node_modules
Backend/package-lock.json
Backend/package.json
Backend/.env
Backend/dist
Backend/build